---
http_interactions:
- request:
    method: patch
    uri: https://api.heyupdate.com/updates/67007
    body:
      encoding: UTF-8
      string: '{"message": "I updated my Angular 2 blog post"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 8ac706f0e57cc01ca96812dac0f4d7546cf19774
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":67007,"timestamp":"2016-10-04T02:15:27+0000","created_at":"2016-10-04T02:15:27+0000","updated_at":"2016-10-05T03:10:18+0000","user":{"id":1311,"email":"rkcudjoe+dev@hookengine.com","name":"Raymond
        Cudjoe"},"team":{"id":521,"name":"hookdev"},"question":"What did you do today?","message":"I
        updated my Angular 2 blog post"}'
  recorded_at: Wed, 05 Oct 2016 03:10:18 GMT
recorded_with: VCR 3.0.3
