---
http_interactions:
- request:
    method: post
    uri: https://api.heyupdate.com/updates
    body:
      encoding: UTF-8
      string: '{"message": "I wrote a blog post on Angular today"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 8ac706f0e57cc01ca96812dac0f4d7546cf19774
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
      location:
      - https://api.heyupdate.com/updates/67147
    body:
      encoding: UTF-8
      string: '{"id":67147,"timestamp":"2016-10-05T03:14:33+0000","created_at":"2016-10-05T03:14:33+0000","updated_at":"2016-10-05T03:14:33+0000","user":{"id":1311,"email":"rkcudjoe+dev@hookengine.com","name":"Raymond
        Cudjoe"},"team":{"id":521,"name":"hookdev"},"question":"What did you do today?","message":"I
        wrote a blog post on Angular today"}'
  recorded_at: Wed, 05 Oct 2016 03:14:33 GMT
recorded_with: VCR 3.0.3
